{% extends 'base.html' %}

{% block content %}

<div class="info" style="padding:30px; color:red;">
   
    {{password}}
    {{duplicate_nickid}}
    {{duplicate_email}}
    {{blank}}
    </div>
    <div>
<form action="{% url 'user:signup' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<p>이메일(로그인 시 이메일을 사용합니다.) : <input type="text" name="user_email"></p>
<p>아이디 : <input type="text" name="user_nickid"></p>
<p>비밀번호 : <input type="text" name="user_password"></p>
<p>비밀번호 재확인 : <input type="text" name="user_repassword"></p>

<p>이름 : <input type="text" name="user_nickname"></p>
<p>프로필 사진 *필수 입력사항은 아닙니다. <input type="file" name="image"></p>
<p>짧게 자신을 소개해주세요! *필수 입력사항은 아닙니다. <textarea rows="4" cols="50" name="introduce"></textarea></p>
<button type="submit"> 회원가입 하기 </button>

</form>



{% endblock %}

