{% extends 'base.html' %}
{% block content%}
<form method="POST" action="{% url 'post:new' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding:10px;">
    <input type="text" name="title">
    </div>
    <div style="padding:10px;">
    <textarea rows="4" cols="50" name="body"></textarea>
    </div>
    <div style="padding:10px;">
    <select name="score">
        <option value="one">&#11088</option>
        <option value="two">&#11088&#11088</option>
        <option value="three">&#11088&#11088&#11088</option>
        <option value="four">&#11088&#11088&#11088&#11088</option>
        <option value="five">&#11088&#11088&#11088&#11088&#11088</option>
    </select>
</div >
<div style="padding:10px;">
    <input type="file" name="image">
</div>

    <button type="submit">저장하기</button>
</form>
{% endblock %}

