{% extends 'base.html' %}
{%load static%}
{% block content%}


{% for user in users%}
<div style="padding:30px; margin:20px; border-bottom:1px solid; cursor:pointer; " onclick="location.href='{% url 'main:detail' user.id%}'" class="except">
   {% if user.user_image%}
   <div class="img_box" style="width: 70px; height: 70px; border-radius: 70%; overflow: hidden;">
   <img src="{{user.user_image.url}}" style="width: 100%;height: 100%; object-fit: cover;">
   </div>
   {% endif %} 
 {% if not user.user_image %}  
  <div class="img_box" style="width: 70px; height: 70px; border-radius: 70%; overflow: hidden;">
    <img src="{% static 'default_profile.png' %}" style="width: 100%;height: 100%; object-fit: cover;">
    </div>
 {%endif%}
   {{user.user_nickid}}
    {{user.user_nickname}}
    <div class="poster" style="display:flex; flex-direction:row; margin:10px;">
        {% for post in posts%}
        {% if user.id is post.user.id%}
        <div style="display:flex; flex-direction:column; margin:10px;">
        <a href="{% url 'post:post_detail' post.id %}"><img src="{{post.image.url}}" style="height:100px;width:60px;"></a>
        <p style="font-size:10px; margin:10px;">{{post.score}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% comment %} {% for user in users %}

    <div style="padding:30px; margin:20px; border:1px solid; cursor:pointer; " onclick="location.href='{% url 'main:detail' user.id%}'" class="except">
      

        {{user.user_nickname}}
{{user.user_nickid}}
    <div class="poster">
{% for post in posts%}
{% if user.id is post.user.id%}
<a href="{% url 'post:post_detail' post.id %}"><img src="{{post.image.url}}" style="height:100px;width:60px;"></a>
{{post.score}}
{% endif %}
    </div>
{% endfor %}
</div>
{% endfor %} {% endcomment %}

    
    
{% endblock %}

