{% extends 'base.html' %}
{% block content%}


<div style="padding:30px;">
    <p>#테스트용 버튼들</p>
    {% if welcome is True %}
    <button ><a style="text-decoration-line:none;"href="{% url 'user:logout' %}"> 로그아웃</a></button>
    <a href="{% url 'main:detail' user.id %}">hey</a>
    {{user.user_nickname}}님 안녕하세요!
    {% endif %}
    {% if welcome is False %}
    <button ><a style="text-decoration-line:none;"href="{% url 'user:login' %}"> 로그인</a></button>
    <button ><a style="text-decoration-line:none;"href="{% url 'user:signup' %}"> 회원가입하기</a></button>
    {% endif %} 
</div>


    {% for user in users %}

    <div style="padding:30px; margin:20px; border:1px solid; " class="except">
   <a href="{% url 'main:detail' user.id%}"> {{user.user_nickname}} </a>
{{user.user_nickid}}

    </div>
    {% endfor %}

    
{% endblock %}

