{% extends 'base.html' %}
{% block content%}


<div style="padding:30px;">
    
    {% if welcome is True %}
    

    {% endif %}
    {% if welcome is False %}
    {% comment %} <button ><a style="text-decoration-line:none;"href="{% url 'user:login' %}"> 로그인</a></button>
    <button ><a style="text-decoration-line:none;"href="{% url 'user:signup' %}"> 회원가입하기</a></button> {% endcomment %}
    {% endif %} 
</div>


{% for user in users%}
<div style="padding:30px; margin:20px; border-bottom:1px solid; cursor:pointer; " onclick="location.href='{% url 'main:detail' user.id%}'" class="except">
    {{user.user_nickid}}
    {{user.user_nickname}}
    <div class="poster" style="display:flex; flex-direction:row; margin:10px;">
        {% for post in posts%}
        {% if user.id is post.user.id%}
        <div style="display:flex; flex-direction:column; margin:10px;">
        <a href="{% url 'post:post_detail' post.id %}"><img src="{{post.image.url}}" style="height:100px;width:60px;"></a>
        <p style="font-size:10px; margin:10px;">{{post.score}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% comment %} {% for user in users %}

    <div style="padding:30px; margin:20px; border:1px solid; cursor:pointer; " onclick="location.href='{% url 'main:detail' user.id%}'" class="except">
      

        {{user.user_nickname}}
{{user.user_nickid}}
    <div class="poster">
{% for post in posts%}
{% if user.id is post.user.id%}
<a href="{% url 'post:post_detail' post.id %}"><img src="{{post.image.url}}" style="height:100px;width:60px;"></a>
{{post.score}}
{% endif %}
    </div>
{% endfor %}
</div>
{% endfor %} {% endcomment %}

    
    
{% endblock %}

